{{ log post}}
{{#each post.comments as | row |}}

<div class="h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5 comment-user">
     <div class="card-block">
          <div class="card-body">
               <div class="card-title card-post-background" style="background-color: #5c6d6b">
                    <div style="display: flex;justify-content: space-between;">
                         <div>{{row.user.name}} - Commented on {{row.date_published}}</div>
                    </div>
               </div>
               <p class="pl-2 card-text">{{row.comment}}</p>
          </div>
          <p class="pl-2 card-text">Test</p>
     </div>
</div>

{{/each}}