<section id="hero">
     <div class="hero-container">
          <h1>Welcome to Techie Blog</h1>

          <h2>Where you can post your thoughts, ideas or Recipes!</h2>
          <a href="/login" class="btn-get-started">Let's Get Started</a>
          <img src="/images/carleton-u-logo-nb.png" alt="Carleton University - Login"
               style="object-fit: cover; object-position: left;">
     </div>
</section>