<section class="h-75">
     <div class="row">
          <div class="col-sm-10 text-black mb-3">
               <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5">
                    <div class="card-block">
                         <div class="card-body">
                              <div class="card-title card-post-background">
                                   <div style="display: flex;justify-content: space-between;">
                                        <div>Special title treatment</div>
                                        <div style="padding-right:25px;">Gustavo Miller</div>
                                        <a id="post1" href="/reply" class="btn btn-primary" style="margin-right:15px;">Post a reply!</a>
                                   </div>
                              </div>
                              <p class="pl-2">Category: Sports</p>
                              <p class="pl-2 card-text">With supporting text below as a natural lead-in to additional Lorem
                                   ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tenetur praesentium
                                   officiis ea nobis ipsa ipsum tempore nulla magni incidunt quam eaque consectetur quia
                                   dolor similique, ad totam itaque illo?
                                   content.</p>                              
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-sm-10 text-black mb-3">
               <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5">
                    <div class="card-block">
                         <div class="card-body">
                              <div class="card-title card-post-background">
                                   <div style="display: flex;justify-content: space-between;">
                                        <div>Special title treatment</div>
                                        <div style="padding-right:25px;">Gustavo Miller</div>
                                        <button>test</button>
                                   </div>
                              </div>
                              <p class="pl-2">Category: Sports</p>
                              <p class="pl-2 card-text">With supporting text below as a natural lead-in to additional Lorem
                                   ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tenetur praesentium
                                   officiis ea nobis ipsa ipsum tempore nulla magni incidunt quam eaque consectetur quia
                                   dolor similique, ad totam itaque illo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ratione facere nulla ullam ipsam reiciendis esse beatae accusamus praesentium sequi sit, sed maxime libero ipsa..</p>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-sm-10 text-black mb-3">
               <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5">
                    <div class="card-block">
                         <div class="card-body">
                              <div class="card-title card-post-background">
                                   <div style="display: flex;justify-content: space-between;">
                                        <div>Special title treatment</div>
                                        <div style="padding-right:25px;">Gustavo Miller</div>
                                        <a id="post3" href="#" class="btn btn-primary" style="margin-right:15px;" hidden>Post a reply!</a>
                                   </div>
                              </div>
                              <p class="pl-2">Category: Sports</p>
                              <p class="pl-2 card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus est earum sapiente nemo dignissimos numquam eaque error. Esse consectetur eligendi maxime rem consequatur. Inventore ipsa exercitationem, voluptatum reiciendis possimus culpa minima officiis suscipit et tenetur esse eum, sunt placeat repudiandae deserunt vero voluptas velit excepturi neque dolore blanditiis provident? Explicabo non officia, repudiandae a reiciendis aperiam voluptas ipsum tempora.</p>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-sm-10 text-black mb-3">
               <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5">
                    <div class="card-block">
                         <div class="card-body">
                              <div class="card-title card-post-background">
                                   <div style="display: flex;justify-content: space-between;">
                                        <div>Special title treatment</div>
                                        <div style="padding-right:25px;">Gustavo Miller</div>
                                        <a id="post4" href="#" class="btn btn-primary" style="margin-right:15px;" hidden>Post a reply!</a>
                                   </div>
                              </div>
                              <p class="pl-2">Category: Sports</p>
                              <p class="pl-2 card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, maxime esse asperiores recusandae animi ratione, repellat quae consequatur mollitia consequuntur voluptate vel quo nisi amet, voluptatum non eum corrupti nesciunt illo rem? Incidunt perferendis enim assumenda, quae quo quos veniam culpa repellat dolore, debitis quod numquam omnis iure corporis provident. Modi fugiat dolore, veniam delectus, rem nostrum excepturi quo nesciunt consequuntur tempore quia explicabo facilis eos in non ut dolor impedit iusto veritatis repellendus! Animi enim labore blanditiis facere! Dolore et quo ipsam, eveniet similique tempore, exercitationem omnis quas debitis, accusantium cum! Ut, reiciendis quaerat sint nisi quis ratione soluta laborum ipsum beatae tempore consectetur veritatis minima ipsam perferendis ipsa molestiae numquam fugiat facere ab aspernatur dolores expedita. Blanditiis, pariatur!</p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<script src="/public/js/posts.js"></script>